header {
 position: sticky;
 top:0;
 display: flex;
 justify-content: space-between;
}
@media(max-width: 768px){
  flex-direcion: column;
}
img {
  width: 300px
}
ul {
  display: flex;
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  margin-right: 10px
}
form {
text-align: center;
}
